/****************************TAG SELECTORS***********************/

h1 {
  color: red;
  font-size: 200px;
}


img {
  background-color: red;
}

/****************************CLASS SELECTORS***********************/

.bacon {
  background-color: rgb(179, 199, 179)79, 199, 179);
}

.broccoli {
  background-color: red;
}

.circular {
  border-radius: 100%;
}

/****************************ID SELECTORS***********************/

#heading {
  color: blue;
}